<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    {{>header}}
    <p><img src="/img/zee1.jpg" </p> <p>This is my photo</p>

    {{>footer}}
</body>

</html>